
#heroFrame {
    perspective: 800px;
}


#heroFrame svg{
    overflow: visible;
    transform: rotateY(-30deg);
}

/*#heroFrame:hover #Code {*/
/*    transform-origin: center;*/
/*    animation: animateHeroFrame1 4s alternate ease-in-out infinite;*/
/*}*/


/*#heroFrame:hover #Screen {*/
/*    transform-origin: center;*/
/*    animation: animateHeroFrame2 4s alternate ease-in-out ;*/

/*}*/


/*#heroFrame:hover #Framing {*/
/*    transform-origin: center;*/
/*    animation: animateHeroFrame3 4s alternate  ease-in-out ;*/
/*}*/

.heroFrameHovered .CodeClass {
    transform-origin: center;
    animation: animateHeroFrame1 5s alternate  ease-in-out ;
    animation-iteration-count: 2;
}


.heroFrameHovered .ScreenClass {
    transform-origin: center;
    animation: animateHeroFrame2 5s alternate ease-in-out infinite;
    animation-iteration-count: 2;
}

.heroFrameHovered .FramingClass {
    transform-origin: center;
    animation: animateHeroFrame3 5s alternate ease-in-out infinite;
    animation-iteration-count: 2;
}



@keyframes animateHeroFrame1 {
    from {
        transform: rotateY(0) translate3d(0,0,0);
    }

    30%{
        transform: rotateY(-60deg) translate3d(0, 6px, 30px);
    }
    45%{
        transform: rotateY(-60deg) translate3d(0, -6px, 30px);
    }
    75%{
        transform: rotateY(-60deg) translate3d(0, 6px, 30px);
    }
    90%{
        transform:  rotateY(-60deg) translate3d(0, -6px, 30px);
    }
    to {
        transform: rotateY(-60deg) translate3d(0, -6px, 30px);
    }
}
@keyframes animateHeroFrame2 {
    from {
        transform: rotateY(0) translate3d(0, 0, 0);
    }

    30%{
        transform: rotateY(-60deg) translate3d(0, -10px, -10px);
    }
    45%{
        transform: rotateY(-60deg) translate3d(0, 10px, -10px);
    }
    75%{
        transform: rotateY(-60deg) translate3d(0, -10px, -10px);
    }
    90%{
        transform:  rotateY(-60deg) translate3d(0, 10px, -10px);
    }
    to {
        transform: rotateY(-60deg) translate3d(-20px, -10px, -10px);
    }
}
@keyframes animateHeroFrame3 {
    from {
        transform: rotateY(0) translate3d(0,0,0);
    }
    30%{
        transform: rotateY(-60deg) translate3d(60px,0, -10px) ;
    }
    to {
        transform: rotateY(-60deg) translate3d(80px,0,-10px);
    }
}


.disclaimerTrain {
    position: relative;
    left: 0;
    animation: disclaimerTrainAnimation 8s linear infinite;
    animation-delay: 2s;
}

@keyframes disclaimerTrainAnimation {
    from {
        left: 0;
    }
    to {
        left: -550px;
    }
}

.disclaimerTrainFandom {
    position: relative;
    left: 0;
    animation: disclaimerTrainFandomAnimation 8s linear infinite ;
    animation-delay: 2s;
}


@keyframes disclaimerTrainFandomAnimation {
    from {
        left: 0;
    }
    to {
        left: -550px;
    }
}

/*overviewDodgeBackground*/
/*overviewDodgeHud*/
/*overviewDodgeGame*/
/*overviewDodgeOverlay*/
/*overviewDodgePause*/

#overviewFrame svg{
    perspective: 2000px;
}

#overviewFrame svg{
    overflow: visible;
}

#overviewFrame .overviewHovered .overviewDodgeBackground {
    transform-origin: center;
    animation: overviewDodgeBackgroundAnimation 12s alternate ease-in-out infinite ;
    animation-delay: 0.6s;
}

#overviewFrame .overviewHovered .overviewDodgeHud {
    transform-origin: center;
    animation: overviewDodgeHudAnimation 12s alternate ease-in-out infinite ;
    animation-delay: 0.6s;
}

#overviewFrame .overviewHovered .overviewDodgeGame {
    transform-origin: center;
    animation: overviewDodgeGameAnimation 12s alternate ease-in-out infinite ;
    animation-delay: 0.6s;
}

#overviewFrame .overviewHovered .overviewDodgeOverlay {
    transform-origin: center;
    animation: overviewDodgeOverlayAnimation 12s alternate ease-in-out infinite ;
    animation-delay: 0.6s;
}

#overviewFrame .overviewHovered .overviewDodgePause {
    transform-origin: center;
    animation: overviewDodgePauseAnimation 12s alternate ease-in-out infinite ;
    animation-delay: 0.6s;
}


@keyframes overviewDodgeBackgroundAnimation {
    from {
        transform: rotateY(0) translate3d(0,0,0);
    }
    10% {
        transform: rotateY(-45deg) translate3d(10px,0,0);
    }
    40% {
        transform: rotateY(-60deg) translate3d(0,0,-180px);
    }
    to {
        transform: rotateY(-60deg) translate3d(0,0,-200px);
    }
}


@keyframes overviewDodgeHudAnimation {
    from {
        transform: rotateY(0) translate3d(0,0,0);
    }
    10% {
        transform: rotateY(-45deg) translate3d(5px,0,0);
    }
    40% {
        transform: rotateY(-60deg) translate3d(0,0,0);
    }
    to {
        transform: rotateY(-60deg) translate3d(0,0,0);
    }
}

@keyframes overviewDodgeGameAnimation {
    from {
        transform: rotateY(0) translate3d(0,0,0);
    }
    10% {
        transform: rotateY(-45deg) translate3d(0,0,0);
    }
    40% {
        transform: rotateY(-60deg) translate3d(0,0,80px);
    }
    to {
        transform: rotateY(-60deg) translate3d(0,0,100px);
    }
}


@keyframes overviewDodgeOverlayAnimation {
    from {
        transform: rotateY(0) translate3d(0,0,0);
    }
    10% {
        transform: rotateY(-45deg) translate3d(0,0,0);
    }
    40% {
        transform: rotateY(-60deg) translate3d(0,0,180px);
    }
    to {
        transform: rotateY(-60deg) translate3d(0,0,200px);
    }
}


@keyframes overviewDodgePauseAnimation {
    from {
        transform: rotateY(0) translate3d(0,0,0);
    }
    10% {
        transform: rotateY(-45deg) translate3d(0,0,0);
    }
    40% {
        transform: rotateY(-60deg) translate3d(0,0,340px);
    }
    to {
        transform: rotateY(-60deg) translate3d(0,0,360px);
    }
}




