

@font-face {
    font-family: 'Nexa';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/nexa-regular-webfont.woff2');
}

@font-face {
    font-family: 'Nexa';
    font-style: normal;
    font-weight: bold;
    src: url('./assets/fonts/nexa-bold-webfont.woff2');
}

@font-face {
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/nexa-light-webfont.woff2');
}


/* Hide scrollbar for Chrome, Safari and Opera */
.disableScrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.disableScrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
